* {
  font-family: "Montserrat", sans-serif;
}

// for layout ===========

#toggle-sidebar {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -100px;
  right: -100px;
}

.sidebar {
  padding: 100px;
  background: lightcoral;
}

#toggle-sidebar:not(:checked) ~ .sidebar {
  background: lightskyblue;
}

// end for layout ===========

// for general ===========

html {
  font-size: 14px;
}

@media (max-width: 576px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

.ovfl-hidden {
  overflow: hidden;
}
.ovfl-auto {
  overflow: auto;
}

.thumb {
  img {
    height: 100%;
    min-width: 100%;
  }
}

.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

.obj-fit-cover {
  object-fit: cover;
}
.obj-fit-contain {
  object-fit: contain;
}

.ellipsis- {
  &1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  &2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  &3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.text- {
  &grey- {
    &100 {
      color: #f5f5f5;
    }
    &200 {
      color: #eee;
    }
    &300 {
      color: #e0e0e0;
    }
    &400 {
      color: #bdbdbd;
    }
    &500 {
      color: #9e9e9e;
    }
    &600 {
      color: #757575;
    }
    &700 {
      color: #616161;
    }
    &800 {
      color: #424242;
    }
    &900 {
      color: #212121;
    }
  }
  &xs {
    font-size: 0.7rem;
  }
  &sm {
    font-size: 0.8rem;
  }
  &base {
    font-size: 1rem;
  }
  &md {
    font-size: 1.3rem;
  }
  &lg {
    font-size: 1.7rem;
  }
  &xl {
    font-size: 2.2rem;
  }
  &xxl {
    font-size: 4.5rem;
  }
}

// end for general ===========

// for menu

.menu {
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  right: 0;
}

// end for menu =============

// for sidebar =============

.sidebar {
  display: none;
}

// end for sidebar =============

// for banner =============

.banner {
  .slide-banner {
    .banner-item {
      height: 100vh;
      position: relative;

      &.slick-active {
        .text-box {
          opacity: 1;

          p {
            padding-top: 30px;
          }
          button {
            margin-top: 20px !important;
          }
        }
      }

      .thumb {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        height: 100%;
        img {
          object-fit: cover;
          width: 100%;
          min-height: 100%;
        }
      }
      .text-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: 2s;
        .categories {
          position: relative;
          display: inline-flex;
          align-items: center;
          &:after {
            content: "";
            width: 100%;
            height: 2px;
            background: rgba(255, 255, 255, 0.2);
            position: absolute;
            left: -70%;
          }
        }
        p {
          transition: 0.5s;
          padding-top: 50px;
        }
        button {
          transition: 1s;
          margin-top: 0px !important;
          border-radius: 30px;
          border: 1px solid #fff;
        }
      }
    }
    .slick-dots {
      position: absolute;
      right: 7vh;
      bottom: 7vh;
      li {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        list-style: none;

        button {
          font-size: 11vw;
          border: none;
          background: none;
          color: rgba(255, 255, 255, 0.03);
          -webkit-text-stroke: 1px rgba(255, 255, 255, 0.632);
        }
        &.slick-active {
          opacity: 1;
        }
      }
    }

    .slick-arrow {
      position: absolute;
      bottom: 5vh;
      z-index: 100;
      border: none;
      color: #fff;
      background: none;
      &.nav-next {
        right: 5vw;
      }
      &.nav-prev {
        right: calc(5vw + 70px);
      }
    }
  }
}

// end for banner =============

// for about =================

.about {
  height: auto;
  @media (min-width: 992px) {
    height: 80vh;
  }
  .text-box {
    height: 100%;
    .title {
      position: relative;
      z-index: 100;
    }
    .info {
      line-height: 1.7rem;
    }
    .since {
      b {
        font-size: 7rem;
      }
    }
  }
  .wrapper-thumb {
    position: relative;
    padding: 15% 0px;
    &:after {
      content: "";
      position: absolute;
      left: -10%;
      top: 0;
      bottom: 0;
      right: -100%;
      background: #ebebeb;
      z-index: 1;
    }
    .thumb {
      position: relative;
      z-index: 10;
    }
  }
}

// end for about =================

//  for brand =================
.new-brand {
  .sub-title-section {
    position: relative;
    display: inline-flex;
    align-items: center;
    &:after {
      content: "";
      width: 100%;
      height: 1px;
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      left: -70%;
    }
  }
  .brand-item {
    &.active {
      background: #ebebeb;
      box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.05);
    }
  }
}
// end for brand =================

// for visual-id ==============

.visual-id {
  height: 100vh;
  position: relative;
  .text-box {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    .description {
      padding-left: 100px;
    }
    button {
      border-radius: 30px;
      border: 1px solid #fff;
    }
    .overlay {
      position: absolute;
      z-index: -1;
      left: 50%;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.5);
    }
  }
  @media (max-width: 768px) {
    height: auto;
    .bg-img {
      height: 50vh !important;
    }
    .text-box {
      margin-top: -100px;
      z-index: 1000;
      position: relative;
      background: #000;
    }
    .description {
      padding-left: unset !important;
    }
  }
}

// end for visual-id ==========
